circle.knob.track.fill {
  fill: none;
  stroke: white;
  stroke-width: 8px;
  stroke-dasharray: 200;
  stroke-dashoffset: 355;
  animation: dash 1s linear infinite;
}
/* @keyframes dash {
    from {
      stroke-dashoffset: 314;
    }
    to {
      stroke-dashoffset: 235;
    }
} */
