.wrg-toggle {
  touch-action: pan-x;
  display: inline-block;
  position: relative;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  padding: 0;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgb(0 0 0 / 0%);
  -webkit-tap-highlight-color: transparent;
}

.wrg-toggle-input {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.wrg-toggle-check,
.wrg-toggle-uncheck {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 0;
  opacity: 0;
  transition: opacity 0.25s ease;
}

.wrg-toggle-check {
  left: 8px;
}

.wrg-toggle-uncheck {
  opacity: 1;
  right: 10px;
}

.wrg-toggle-uncheck span,
.wrg-toggle-check span {
  align-items: center;
  display: flex;
  height: 10px;
  justify-content: center;
  position: relative;
  width: 10px;
}

.wrg-toggle-container {
  width: 50px;
  height: 24px;
  padding: 0;
  border-radius: 30px;
  background-color: #2C2C2E;
  transition: all 0.2s ease;
  width: 72px;
  height: 44px;
  box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.wrg-toggle-circle {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 40px;
  height: 40px;
  border: 1px solid #4d4d4d;
  border-radius: 50%;
  background-color: #48484A;
  box-sizing: border-box;
  transition: all 0.25s ease;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.5);

  /* background: linear-gradient(white, black); */
}

.wrg-toggle-circle.background {
  background: transparent;
  background-color: #4d4d4d;
  border: transparent;
  top: 0px;
  left: 0px;
  width: 38px;
  height: 38px;
}

.wrg-toggle--checked .wrg-toggle-check {
  opacity: 1;
}

.wrg-toggle--checked .wrg-toggle-uncheck {
  opacity: 0;
}

.wrg-toggle--checked .wrg-toggle-circle {
  left: 30px;
}

.wrg-toggle--disabled {
  cursor: not-allowed;
  opacity: 0.5;
  transition: opacity 0.25s;
}

circle.checked {
  display: relative;
  left: 30px;
}

svg {
  overflow: visible;
  position: absolute;
}

svg.track-shadow {
  position: absolute;
  top: 0px;
  rotate: 45deg;
}

svg.track-shadow > circle {
  stroke: #2C2C2E;
  stroke-width: 8px;
  stroke-dasharray: 360;
}

circle {
  position: absolute;
  fill: none;
  stroke: white;
  stroke-width: 8px;
  stroke-dasharray: 360;
}

circle.blur {
  filter: blur(4px);
}

circle.track-shadow {
  stroke: red;
  stroke-width: 1px;
  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}


div.outline {
  position: absolute;
}

svg.outline {
  position: absolute;
  top: 0px;
  rotate: 45deg;
  transform: scale(0.92);
}

circle.outline {
  stroke-width: 1px;
  /* stroke: rgba(255, 255, 255, 0.2); */
  stroke: url(#gradient);
  stroke-dasharray: 360;
  stroke-dashoffset: 170;
  /* filter: blur(0.2px); */
}
